#aboutpage {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 10rem 2rem 10rem;
    position: relative;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    margin-bottom: 5rem;
}

.about-wrapper, .knowledge-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

#about-text, #knowledge-text {
    text-align: start;
}

.about-container br {
    margin-bottom: 1rem;
}

.knowledge-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.knowledge-buttons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    fill: white;
}

.knowledge-buttons .icons {
    display: flex;
    margin-right: 5rem;
}

.portrait {
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
}