#aboutpage {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem;
    position: relative;
}

.about-image {
    overflow: hidden;
    grid-column: 1;
}

.portrait {
    height: 80vh;
    width: 100%;
    object-fit: contain;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    grid-column: 2;
    grid-column-end: 3;
    height: 100%;
    padding: 1rem 2rem 0rem 2rem;
    overflow-y: auto;
}

.about-wrapper, .knowledge-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

#about-text, #knowledge-text {
    text-align: start;
}

.about-container br {
    margin-bottom: 1rem;
}

.knowledge-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.knowledge-buttons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    fill: white;
}

.knowledge-buttons .icons {
    display: flex;
    margin-right: 5rem;
}