#aboutpage {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    text-align: center;
    margin-top: 1rem;
    padding: 0rem 10rem 0rem 10rem;
}

#about-text, #knowledge-text {
    text-align: start;
}

.about-text br {
    padding: 5rem;
}

.knowledge-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.knowledge-buttons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    fill: white;
}

.knowledge-buttons .icons {
    display: flex;
    margin-right: 5rem;
}