#aboutpage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    height: 100%
}

#about-image-container {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#about-portrait {
    height: auto;
    max-width: 100%; 
    object-fit: contain;
}

#about-info-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.about-page-titles {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.about-title-color {
    color: greenyellow;
}

.about-page-texts {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    text-align: start;
}

#knowledge-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 2rem 0rem 2rem 0rem;
}

#knowledge-buttons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);;
    fill: greenyellow;
}

#knowledge-buttons .icon {
    display: flex;
    margin-right: 0.5rem;
}