.project-container {
    overflow: hidden;
    border-radius: 0.3rem;
}

.project-info {
    padding: 1rem;
}

.project-title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: greenyellow;
}

.project-tools ul {
    display: flex;
    list-style: none;
    padding: 1rem 0rem;
}

.project-tools ul li {
    font-size: 0.7rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
}

.project-link {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
}

.project-link li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.project-link li a:hover {
    background-color: greenyellow;
}

.project-link .icon {
    display: flex;
    margin-right: 0.3rem;
    width: 2rem;
}

.project-link {
    display: flex;
}

.project-image {
    width: 100%;
    height: auto;
}