#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    overflow: hidden;
}

#hero-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 2rem;
}

#hero-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

#hero-name {
    font-size: 6rem;
}

#hero-image-container {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    display: none; /* Change "none" to "flex" when it is time to add a portrait. */
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#hero-image {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.hero-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
}

.hero-buttons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0.75rem;
    color: black;
    background-color: white;
    border-radius: 0.3rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.hero-buttons li a:hover {
    background-color: lightgray;
}

.hero-buttons .icon {
    display: flex;
    margin-right: 0.5rem;
}

.resume-icon {
    width: 2rem;
    height: 2rem;
    fill: black;
}

.github-icon {
    width: 2rem;
    height: 2rem;
    fill: black;
}

.linkedin-icon {
    width: 2rem;
    height: 2rem;
    fill: black;
}


.page-swap-wrapper {
    position: absolute;
    bottom: 2%;
    right: 50%;
}

.page-swap-buttons {
    list-style: none;
}

.arrow-down-icon {
    width: 4rem;
    height: 4rem;
    fill: white;
} 