#projects-page {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    position: relative;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
}

#projects-container {
    text-align: start;
    overflow-y: auto;
}

#projects-title {
    font-size: 2rem;
    padding-bottom: 1rem;
}